@model IEnumerable<MyEducationPlan.Domain.Entities.InternProjectFeedback>

<div class="home-container">
    <div class="feedbacks-list">
        <h2>Feedbacks</h2>
        <ul>
            @foreach (var feedback in Model)
            {
                <li>
                    <strong>Project employee:</strong> @feedback.EmployeeName<br />
                    <strong>Rating:</strong> @feedback.Rating<br />
                    <strong>Comment:</strong> @feedback.Comment
                </li>
                <hr />
            }
        </ul>
    </div>
</div>